nav {
  background-color: rgb(114, 180, 238);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0%;
  left: 0%;
  box-shadow: 0 0.1rem 0.2rem;
  z-index: 999;
  .logo {
    color: rgb(26, 28, 28);
    span {
      text-transform: uppercase;
      color: rgb(255, 255, 255);
    }
  }
  a {
    color: rgb(26, 28, 28);
    text-transform: capitalize;
    background-color: rgb(97, 146, 189);
    padding: 5px 10px;
    border-radius: 0.3rem;
    box-shadow: inset 0 0.1rem 0.2rem;
    transition: 0.2s linear !important;

    &:hover {
      box-shadow: 0 0.1rem 0.5rem rgb(26, 28, 28);
      color: aliceblue;
    }
  }
  .menu {
    display: inline-flex;
    gap: 1rem;
  }
}
.icon {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  display: none;
  span {
    width: 20px;
    height: 2px;
    background-color: black;
    display: inline-block;
    transition: .4s linear;
  }
}

@media (max-width: 768px) {
  .icon {
    display: inline-flex;
    

    &.wi span:nth-child(2) {
      display: none;
      
    }
     &.wi span:nth-child(1) {
      transform: rotate(-45deg);
      margin-bottom: -2px;
    }
     &.wi span:nth-child(3) {
      transform: rotate(45deg);
      margin-top: -2px;
    }
  }
  .menu {
    position: absolute;
    top: 99%;
    right: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(114, 180, 238);
    box-shadow: 0 0.1rem 0.2rem;
    
    &.menul{
      right: 0%;
      transition: 4 linear;
    }
  }
}
